---
---
@import "main";

/* Show more lines of preview text (standard is 2) */
#post-list .card .card-body .card-text.content p {
  -webkit-line-clamp: 6 !important;
  font-size: 1.1rem !important;
  line-height: 1.6 !important;
}

/* Extend the central content area */
#main-wrapper .container {
  max-width: 95% !important;
}

#core-wrapper {
  max-width: 1250px !important; /* Adjust this to your preference */
}

/* Force text to wrap instead of scrolling */
#core-wrapper .post-content {
  overflow-wrap: break-word;
  white-space: normal;
}
